<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqm.rabbit.mapper.LoginMapper">

    <resultMap type="com.hqm.rabbit.domain.vo.SysUserVo" id="UserVoResult">
        <id     property="id"      column="id"      />
        <id     property="username"      column="username"      />
        <id     property="password"      column="password"      />
    </resultMap>

    <select id="selectLogininfo"  parameterType="String" resultType="com.hqm.rabbit.domain.vo.SysUserVo">
        select * from sys_user where username=#{username}
    </select>
    <select id="selectUserVo"   resultType="com.hqm.rabbit.domain.vo.SysUserVo">
        select * from sys_user
    </select>
    <select id="selectUserFun"   parameterType="String" resultType="HashMap" >
        select funcode from sys_user_fun where username=#{username}
        union
        select b.funcode from sys_user_dept a inner join sys_dept_fun b on a.deptcode=b.deptcode where a.username=#{username}
        union
        select b.funcode from sys_user_role a inner join sys_role_fun b on a.rolecode=b.rolecode where a.username=#{username}
    </select>
<!--    <select id="selectLogin" resultType="HashMap">-->
<!--        select * from sys_user-->
<!--    </select>-->
<!--    <select id="selecttongyong" parameterType="String" resultType="HashMap">-->
<!--         ${str}-->
<!--    </select>-->


</mapper>