<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqm.rabbit.mapper.LoginMapper">


    <select id="selectLogininfo"  parameterType="String" resultType="com.hqm.rabbit.domain.vo.SysUserVo">
        select * from sys_user where username=#{username}
    </select>
    <select id="selectUserVo"   resultType="com.hqm.rabbit.domain.vo.SysUserVo">
        select * from sys_user
    </select>
    <select id="selectUserFun"   parameterType="String" resultType="HashMap" >
        select funcode from sys_user_fun where username=#{username}

    </select>
    <select id="selectUserRole"   parameterType="String" resultType="HashMap" >
        select rolecode from sys_user_role where username=#{username}
    </select>
<!--    <select id="selectLogin" resultType="HashMap">-->
<!--        select * from sys_user-->
<!--    </select>-->
<!--    <select id="selecttongyong" parameterType="String" resultType="HashMap">-->
<!--         ${str}-->
<!--    </select>-->


</mapper>