<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqm.rabbit.mapper.MenuMapper">

    <select id="getUserMenu" parameterType="String" resultType="HashMap">
      SELECT b.* FROM sys_user_fun a INNER JOIN sys_muen b ON a.funcode=b.menufun WHERE a.username=#{username}
        UNION
      SELECT * FROM sys_muen WHERE IFNULL(menufun,'')=''
    </select>
    <select id="getUserMenus" parameterType="String" resultType="com.hqm.rabbit.domain.entity.SysMuen">
      SELECT b.* FROM sys_user_fun a INNER JOIN sys_muen b ON a.funcode=b.menufun WHERE a.username=#{username}
        UNION
      SELECT * FROM sys_muen WHERE IFNULL(menufun,'')=''
    </select>
    <!--    <select id="selectLogin" resultType="HashMap">-->
    <!--        select * from sys_user-->
    <!--    </select>-->
    <!--    <select id="selecttongyong" parameterType="String" resultType="HashMap">-->
    <!--         ${str}-->
    <!--    </select>-->


</mapper>